@font-face {
    font-family: "FiraCode-Bold";
    src: url('../fonts/FiraCode-Bold.ttf');
}
@font-face {
    font-family: "FiraCode-Medium";
    src: url('../fonts/FiraCode-Medium.ttf');
}
@font-face {
    font-family: "FiraCode-Regular";
    src: url('../fonts/FiraCode-Regular.ttf');
}
@font-face {
    font-family: "FiraCode-Light";
    src: url('../fonts/FiraCode-Light.ttf');
}